# Archivos generados por compilación
*.o
*.tar.gz
*.pkg.tar.zst
dwm
st

# Directorios de empaquetado (pacman)
pacman/
pkg/
src/

# Backups y temporales
*~
*.swp
*.swo
build.log

# Archivos temporales y de respaldo
*.bak

# Carpetas de configuración de otros proyectos (si no quieres subirlas, descomenta)
bumblebee-status/
hyperland/
polybar/
waybar/
Mi-.basrc/
# Archivos del sistema
.DS_Store
Thumbs.db
