# Binarios compilados
stt

# Archivos objeto
*.o

# Archivos de caché y temporales
*~
*.swp
*.swo

# Archivos generados por la compilación/instalación
config.h
st-*.tar.gz
stt-*.pkg.tar.zst
pacman/

# Directorios de empaquetado (si los generas)
pkg/
src/
