# Binarios compilados
dwm

# Archivos objeto
*.o

# Archivos de caché y temporales
*~
*.swp
*.swo

# Archivos generados por la compilación/instalación
config.h
dwm-*.tar.gz
pacman/

# Directorios de empaquetado (si los generas)
pkg/
src/
